@import './_reset.sass';
@import './vars.scss';

html, body {
	min-height: 100vh;
	height: 100%;
}

body {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	color: $c-text;
	background-color: $c-bg-pri;
}
a {
	color: #08f;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1140px;
	max-width: 90%;
}