$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 550px;

// Color scheme
$c-text: #333;
$c-bg-pri: #fff;
$c-bg-sec: #ddf;
$c-controls-primary: #04f;
$c-controls-secondary: #04b;

//  Sizes
$form-title-fz: 28px;